<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ecce.citasdev.deploy">

    <uses-sdk
        android:maxSdkVersion="18"
        android:targetSdkVersion="24" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".HomeActivity"
            android:label="Deploy">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CacheListActivity"
            android:label="Sink Nodes" />
        <activity
            android:name=".QRCaptureActivity"
            android:label="Capture QR Code" />
        <activity
            android:name=".SensorDetailsActivity"
            android:label="Sensor Nodes" />
        <activity android:name=".CacheDetailsActivity" />
        <activity android:name=".SensorListActivity"></activity>
    </application>

</manifest>